<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>采样记录</title>
    <link rel="stylesheet" href="../static/css/common/bar.css" />
    <link rel="stylesheet" href="../static/css/common/reset.css" />
    <link rel="stylesheet" href="../static/css/user.css" />
    <link rel="stylesheet" href="../static/css/doctor.css" />
  </head>
  <body>
    <div id="across">
      <a href="../templates/home.html"
        ><img
          src="../static/images/home2.png"
          style="
            height: 80px;
            weight: 80px;
            margin-top: 10px;
            margin-left: 50px;
          "
      /></a>
      <h1 style="font-size: 300%; margin-left: 200px">xx市核酸检测管理系统</h1>
    </div>
    <div id="column" class="div-column">
      <button onclick="location='../templates/doctor2.html'">
        <h1>采样登记</h1>
      </button>
      <button onclick="location='../templates/doctor3.html'">
        <h1 style="color: black; text-align: center">登记记录</h1>
      </button>
    </div>
    <div class="content">
      <div class="login">
        <form action="" method="post">
          <p>
            <label for="HSnumber">核酸码:</label>
            <input
              type="text"
              id="HSnumber"
              placeholder="请输入核酸码"
              name="user_code"
            />
          </p>

          <div>
            <button style="background-color: rgb(200, 36, 36)">删除</button>
          </div>
        </form>
        <table>
          <tbody>
            <tr>
              <td>姓名</td>
              <td>身份证</td>
              <td>核酸码</td>
              <td>医生工号</td>
              <td>医生姓名</td>
              <td>组号</td>
            </tr>
            <tr>
              <td>{{results[0]}}</td>
              <td>{{results[1]}}</td>
              <td>{{results[2]}}</td>
              <td>{{results[3]}}</td>
              <td>{{results[4]}}</td>
              <td>{{results[5]}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </body>
</html>
