<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>采样记录</title>
    <link rel="stylesheet" href="../static/css/common/bar.css">
    <link rel="stylesheet" href="../static/css/common/reset.css">
    <link rel="stylesheet" href="../static/css/user.css">
    <link rel="stylesheet" href="../static/css/doctor.css">
    
</head>
<body>
    <div id="across">
        <a href="../templates/home.html"><img src="../static/images/home2.png" style="height: 80px; weight:80px;margin-top: 10px;margin-left: 50px;"></a>
        <h1 style="font-size: 300%;margin-left: 200px;">xx市核酸检测管理系统</h1>
    </div>
    <div id="column" class="div-column">
        <button onclick="location='../templates/doctor2.html'"><h1 >采样登记</h1></button>
        <button onclick="location='../templates/doctor3.html'"><h1 style="color: black;text-align: center;">登记记录</h1></button>
    </div>
    <div class="content-table">
        <table>        
            <tr style="height: 50px;">
                <td><h2>医生工号</h2></td>
                <td><h2>组号</h2></td>
                <td><h2>核酸码</h2></td>
                <td><h2>操作</h2></td>
            </tr>
            <tr class="tr1">
                <td>13</td>
                <td>001</td>
                <td>123456</td>
                <td><button><h3>删除</h3></button></td>
            </tr>
            <tr class="tr1">
                <td>12</td>
                <td>003</td>
                <td>789634</td>
                <td><button><h3>删除</h3></button></td>
            </tr>
            
        </table>

    </div>

</body>
</html>