<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>预约</title>
    <link rel="stylesheet" href="../static/css/common/bar.css" />
    <link rel="stylesheet" href="../static/css/common/reset.css" />
    <link rel="stylesheet" href="../static/css/user.css" />
    <link rel="stylesheet" href="../static/css/doctor.css">
  </head>
  <body>
    <div id="across">
      <button onclick="location='../templates/home.html'">
        <img
          src="../static/images/home2.png"
          style="
            height: 80px;
            weight: 80px;
            margin-top: 10px;
            margin-left: 50px;
          "
      /></button>
      <h1 style="font-size: 300%; margin-left: 200px">xx市核酸检测管理系统</h1>
    </div>
    <div id="column" class="div-column">
      <button onclick="location='../templates/user1.html'">
        <h1 style="color: black; text-align: center">用户登记</h1>
      </button>
      <button onclick="location='../templates/user2.html'">
        <h1>删除/查询</h1>
      </button>
      <button onclick="location='../templates/user3.html'">
        <h1>检测结果</h1>
      </button>
    </div>
    <div class="content">
      <div class="login">
        <form action="" method="post">
          <p>
            <label for="name">姓名 : &nbsp&nbsp</label>
            <input
              type="text"
              id="name"
              placeholder="请输入姓名"
              name="user_name"
            />
          </p>
          <p>
            <label for="IDnumber">身份证:</label>
            <input
              type="text"
              id="IDnumber"
              placeholder="请输入身份证号码"
              name="user_id"
            />
          </p>

          <div>
            <button onclick="location='../templates/user1.html'">预约</button>
          </div>
          <div>{{result_info}}</div>
        </form>
      </div>
      <table>
        <tbody>
          <tr>
            <td>姓名</td>
            <td>身份证</td>
            <td>核酸码</td>
          </tr>
          {% for result in results %}
          <tr>
            <td>{{result[1]}}</td>
            <td>{{result[0]}}</td>
            <td>{{result[2]}}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </body>
</html>
