<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>删除</title>
    <link rel="stylesheet" href="css\common\bar.css">
    <link rel="stylesheet" href="css/common/reset.css">
    <link rel="stylesheet" href="css/user.css">
    
</head>
<body>
    <div id="across">
        <a href="./home.html"><img src="./images/home2.png" style="height: 80px; weight:80px;margin-top: 10px;margin-left: 50px;"></a>
        <h1 style="font-size: 300%;margin-left: 200px;">xx市核酸检测管理系统</h1>
    </div>
    <div id="column" class="div-column">
        <button onclick="location='./user1.html'"><h1>用户登记</h1></button>
        <button onclick="location='./user2.html'"><h1 style="color: black;text-align: center;">删除/查询</h1></button>
        <button onclick="location='./user3.html'"><h1>检测结果</h1></button>
    </div>
    <div class="content">
        <div class="login">
            <p>
                <label for="name">姓名 : &nbsp&nbsp</label>
                <input type="text" id="name" placeholder="请输入姓名">
            </p>
            <p>
                <label for="IDnumber">身份证:</label>
                <input type="text" id="IDnumber" placeholder="请输入身份证号码">
            </p>
            <p>
                <label for="IDnumber" >核酸码:</label>
                <input type="text" id="HSnumber" placeholder="点击查询后显示">
            </p>
            <div>
                <button>查询</button>
            </div>
        </div>

    </div>

</body>
</html>