body,p,h1,h2,h3{
    margin: 0;/*无外边框*/
}
button,input{
    padding: 0;
    box-sizing: border-box;
    outline: none;
}
button{
    border: none;
    background: none;
    cursor: pointer;/*鼠标变为手指*/

}
label,input{
    vertical-align: middle;/*垂直居中对齐*/

}
ul{
    margin: 0;
    padding: 0;
    list-style: none;/*去除列表的圆点*/
}

a{
    text-decoration: none;/*超链接下划线去除*/
}
table{
    border-collapse: collapse;/*去除表格缝隙*/

}

