.content{
    position: fixed;
    top: 103px;
    left: 200px;
    height: 50vh;
    display: flex;
    flex-direction: column;/*垂直排布*/
    align-items: center;
    justify-content: center;
   
}
.login{
    margin-top: 10%;
     background-color: rgba(237, 237, 237,0.5);
    background-size: cover;
  
}
.login p{
    width: 1200px;
    line-height: 60px;
    display: flex;
    margin-bottom: 50px;
   margin-top: 20px;
    font-size: 36px;
    margin-left: 25%;

}
.login input{
    width: 30%;
    color: #b2b2b2;
    font-size: 20px;
    line-height: 50px;
    margin-left: 15px;
}
input::placeholder{
    color: #ccc;
    font-size: 16px;
    margin-left: 10px;
}
.login button{
    background-color: #3cc2db;
    font-size: 20px;
    margin-left: 36%;
    width: 120px;
    height: 65px;
    border-radius: 30px;
}